@import url('https://fonts.googleapis.com/css2?family=Rubik+Doodle+Shadow&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;700&display=swap');

$fontTitle: 'Rubik Doodle Shadow';
$primaryFont: 'Ubuntu', sans-serif;;
/*
$secondaryFont: ;
$primaryColor: ;
$secondaryColor: ;
*/

@mixin textNoStyle {
    text-decoration: none;
    list-style: none;
    color: black;
    &:visited {
        text-decoration: none;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(2, 0, 35);
    gap: 3rem;
    font-family: $primaryFont;
}
.flex {
    display: flex;
}
.col {
    flex-direction: column;
}
.row {
    flex-direction: row;
}
.flex-center {
    justify-content: center;
    align-items: center;
}
.textNoStyle {
    @include textNoStyle;
}
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.hidden {
    display: none;
}
section {
    height: 85vh;
    h1 {
        font-family: $fontTitle;
        font-size: 2.5rem;
        text-shadow: 0 0 15px rgb(71, 255, 212);
        color: rgba(255, 255, 255, 0.95);
        letter-spacing: 2px;
        margin-bottom: 4rem;
    }
}
form {
    gap: 2rem;
    #input {
        div {
            margin: .5rem 0;
        }
        label {
            color: rgb(255, 255, 217);
        }
    }
    input {
        width: 8.75rem;
        padding: .25rem .5rem;
        margin: 0 .25rem;
        font-family: $primaryFont;
        border: 1px solid aliceblue;
        border-radius: 3px;
        background-color: aliceblue;
    }
    button {
        background-color: black;
        color: rgb(255, 255, 164);
        border: 0;
        border-radius: 8px;
        padding: .5rem 1.5rem;
        font-family: $primaryFont;
        box-shadow: 0 0 15px rgba(255, 255, 0, 0.5);
        letter-spacing: 1px;
    }
    button:hover{
        color: yellow;
        letter-spacing: 2px;
        padding: .5rem calc(1.5rem - 4.5px);
        cursor: pointer;
    }
}
#planets {
    gap: 2rem;
    color: white;
    margin-top: 4rem;
    .planet {
        padding: 1rem 2rem;
        height: 10rem;
        box-shadow: 0 0 10px white;
        width: 15vw;
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        div {
            text-align: center;
            p {
                padding: .25rem 0;
            }
        }
    }
    .planetName {
        font-weight: 700;
        font-size: 1.25rem;
    }
    #brown {
        text-shadow: 0 0 8px rgb(255, 138, 138);
    }
    #pink {
        text-shadow: 0 0 8px rgb(255, 100, 250);
    }
    #orange {
        text-shadow: 0 0 8px orange;
    }
    #yellow {
        text-shadow: 0 0 8px yellow;
    }
    #blue {
        text-shadow: 0 0 8px rgb(0, 251, 255);
    }
}
#explanation {
    color: rgba(255, 255, 255, 0.85);
    height: 15vh;
    width: fit-content;
    margin: auto;
    h3 {
        color: rgba(255, 255, 0, 0.85);
        padding-bottom: 1rem;
    }
}